@import 'unit';
@import '../../public/fonts/font.css';

:root {
  --primary-color: #51267d;
  --secondary-color: #fdc100;
  --text-color: #696969;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: rem(80) !important;
}


.css-6hp17o-MuiList-root-MuiMenu-list{
  display: grid !important;
  // width: 66px;
}



.hoverable_btn {
  position: relative;
 
}

.header{
// font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0.4099999964237213px;
text-align: left;

}

.hoverable_btn:after {
  content: "";
  position: absolute;
  background-color: #000000A3;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
}

.hoverable_btn:hover:after {
  width: 100%;
  left: 0;
  right: 0;
  outline: none;
}



.MuiOutlinedInput-notchedOutline{
  border-width: 0px !important;
}


.carousel-control-prev, .carousel-control-next{
  top: 85% !important;
  left: 42% !important;
  z-index: 1000 !important;
  background: white !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  filter: invert(1) !important;
  width: 20px !important;
}

.carousel-control-next{
  left: 55% !important;
}

.carousel-indicators{
  bottom:  7% !important;
}